html{font-size:100%;} /*font-size 100% in this case is 16 pixels which is out=r bvrowser default.*/
h1{font-size: 1.5rem;} /*1.5 rem is 24 pixels*/ 
#div-1{background-color: orange;}
#div-2{background-color: black; color: whitesmoke;}
#div-3{background-color: crimson;}